<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Job Page</title>
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container text-center">
        <h1 class="text-center mt-2 mb-4">Job Careers</h1>
        <img class="img-fluid" id="banner" src="../static/jobpage_banner.jpg" alt="jobpage_banner">

        <div id="about" class="row mt-4">
            <div class="col-1"></div>
            <div class="col-4">
                <h3 class=>About Careers</h3>
                <p class="lead">Join us.
                    We believe that business is the greatest platform for change — and that together, we can improve the state of the world. With the world’s #1 customer relationship management (CRM) platform, your work will help businesses and communities achieve their most ambitious business plans, solve their biggest challenges, and harness their successes to leave our planet a little better than we found it. Are you ready to build a rewarding career and a better future for all?</p>
            </div>
            <div class="col-5">
                <img class="img-fluid" id="people_working" src="../static/people_working.jpg" alt="jobpage_banner">
            </div>
            <div class="col-1"></div>

        </div>
        <section id="jobs">
            <h4 class="mb-4 mt-4">Job Openings</h4>
                
            <ul class="list-group row">
                {% for job in jobs %}
                    {% include 'job_items.html' %}
                {% endfor %}
            </ul>
        </section>
        <footer class="mt-4">
            <button id="contactus" class="btn btn-info btn-lg">Contact us</button>
        </footer>
    </div>
    {% include 'footer.html' %}
</body>
</html>