<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>{{job['title']}}</title>
    <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container text-left">
        <h1 class="text-center mt-2 mb-4"> {{job['title']}} </h1>
        <img class="img-fluid" id="banner" src="../static/jobpage_banner.jpg" alt="jobpage_banner">

        <div class="mt-4">
            <div><b>Location: </b> {{job['location']}}</div>
            <div><b>Requirements: </b> {{job['requirements']}}</div>
            <div><b>Responsibilities: </b> {{job['responsibilities']}}</div>
            {% if job['salary'] is not none %}
                <div><b>Salary: </b> {{job['salary']}}</div>
            {% endif %}
        </div>
        <div class="mt-4">
            <form action="/job/{{job['id']}}/apply/" method="post">
                <label for="name" class="form-label">Name</label>
                <input name="name" required type="text" class="mb-2 form-control"><br>
                <label for="email" class="form-label">E-Mail</label>
                <input name="email" required type="text" class="mb-2 form-control"><br>
                <label for="country" class="form-label">Country</label>
                <input name="country" required type="text" class="mb-2 form-control"><br>
                <label for="degree" class="form-label">Degree</label>
                <input name="degree" required type="text" class="mb-2 form-control"><br>
                <label for="linkedin" class="form-label">LinkedIn</label>
                <input name="linkedin" type="url" class="mb-2 form-control"><br>
                <button type="submit" class="btn btn-info btn-md">Submit</button>
            </form>
        </div>
    </div>

    

    {% include 'footer.html' %}
</body>
</html>